language: python
python:
- '3.7'
install: 
- pip install -r requirements.txt
- pip install black
script:
- black --check .
deploy:
  provider: elasticbeanstalk
  access_key_id: $AWSAccessKeyId
  secret_access_key: $AWSSecretKey
  region: "us-east-1"
  app: "django-tutorial"
  env: "django-env-1"
  bucket_name: "elasticbeanstalk-us-east-1-063456759375"
env:
  global:
  - secure: idDZXNXBQ12YiRNsUP7fvpz6kSCouK/BVYzSWORugsbe1cwM7lPg+reF91vl7ea3RaQW7KYTXUBgbx0PoqTQEqh+Qe2Wjee9EHpK8eTVsd9b7UqScGTZ8o2t7zQyTWU5vhTVN7TrRfEb10XrmA6Nnyu3VQFTFlPJoiWU+OGOn7c9XZZ+wy8QBRstTtWAKenfs3Ly1+8DXfyofB7fU5hkOXeUZqnnztqbgaZL6ta1CYSGsz4kGgLoUbAb5mbqctFUTK4OEDHdTvEhtR0gwhVWlT+V7pLUgTQIR6m/7BxfhzOGKp04tUiIcuUgNxs6hRADsdZv/iUUzcuU9J/4GEiQD4Zu3kAcMP7QlAYBj6pXcK3apPRKxIRfS/xLi4aXCGe20lp4H01KxLvwB3z0bBBSVlf8QElugzMQ1u95Kn/HHSm9GENl/s72zzjXeFOgbgGyYp4SPDdbOVJ9lfvsUfZBeZcYGL8QThmrqodfBKBfdpbZ9UIVafpfdmtKgyYfoRcl2uwc9bXJI94x8lWzFNsNMapMReEske7q/OZZDPGi/WQIm4wRbfXzGf6Vu5yxgAhhce65HkV9vR7dKRbzlwIUkGd1sZcPuMvqkEjnVf+YdULt8y8k0vIfLlXKcsRYGA1UiCMc/SJK/n555I5fkd72UeUdt0gaImSgE+MTaxPa7xk=
  - secure: JwFfTEBSWC0uISOh6QY9bU4aC6R+UnJP7+bybw+BZV/4EUe+nOpaa3JBINkXGK7ihsqwRLPQWpqTJiDV2ZCL5J/gFdhR1Wi0Sn/uRs87cicvJF4cliOcZG61KwESMBaGzQbMGuEpnzllEuSZVyX+f0qcC1cZgFvvS33Cvfzf9gP/vzk3pbPkLitk917h4sXgG33XhSz31SyxMHXEHEB6/brytCgpYponbvve6dQIamJYV5TOOpjVsT+XfzhP40CnX3/zCzN9BvGMNEhwuqx/7ewxoeX6h+PoUkpDIjrurMgwFbWnJEt0ylyCd8gr7mXIAEsBi/jTCXl61F6XXdvJwSH/nWRIXkcAXZvKA2URUy9L2M0Po4OdAejfHlQZ+GxbbNzkfE/s1Hh2c+QaPn0UeeDDpD0VFs4NeIBgOvPaoZLobAqOqpgWaQQkd+moJYGnkN/C7OHOmWCjPyclApgcDLTbUSvG59S3BiMLW9ruRRpFDIZLuc2fEust5S21xr8IbepUmaThJH/NKPI1d3B+2Tw3qeC+GsyuURcCuyY56ZWILbLdL34h0et7Said8cXV+b+2wS9Ki9vtpBiTp2cWvAivzuu6bN4IuNWox7cOmy/TS7qXSF7/RSROB9LiEGSTQ6JaXP7mCmVilY08+pPrdaSobW6p+vtUxnR/II5o9TQ=
